.button {
  background-color: $primary-color;
  color: $on-primary-color;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: $secondary-color;
}
