<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="bl3ak.com" />
  <meta name="theme-color" content="#4285f4" />
  <link rel="manifest" href="/assets/favicon/site.webmanifest" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- HTML Meta Tags -->
<title>bl3ak Miniatures -</title>
<meta name="description" content="Dive into grimdark Warhammer projects, miniature painting, conversions, stories, and poetry from a 20 year hobby veteran. Join the descent into darkness.">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://beta.bl3ak.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="bl3ak Miniatures -">
<meta property="og:description" content="Dive into grimdark Warhammer projects, miniature painting, conversions, stories, and poetry from a 20 year hobby veteran. Join the descent into darkness.">
<meta property="og:image" content="https://beta.bl3ak.com/assets/images/background.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://beta.bl3ak.com/">
<meta name="twitter:title" content="bl3ak Miniatures -">
<meta name="twitter:description" content="Dive into grimdark Warhammer projects, miniature painting, conversions, stories, and poetry from a 20 year hobby veteran. Join the descent into darkness.">
<meta name="twitter:image" content="https://beta.bl3ak.com/assets/images/background.jpg">

<!-- Meta Tags Generated via https://www.opengraph.io -->
 
  <title>{{ page.title | default: blank }}</title>
  <script src="/assets/js/search.js"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  {% seo %}
  {% include custom-header.html %}
  <link rel="shortcut icon" type="image/favicon" href="/assets/favicon/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  {% if page.image.alt %}
    <meta property="og:image:alt" content="{{ page.image.alt | escape }}">
  {% endif %}
</head>
<body>
{% include header.html %}

  <div class="container">
    {{ content }}
  </div>
  
{% include footer.html %}

<script src="{{ '/assets/js/site.js' | relative_url }}"></script>

<section class="parallax"></section>

</body>
</html>